name: Nightly Build

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      commit:
        description: 'Commit hash to build'
        required: false
        default: 'dd326c7564c7a50ebae7b6fed73b3a1682a9f145'
        type: string

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'adopt'
          cache: gradle

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.21'
          cache: false

      - name: Set up Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27c

      - name: Grant execution permission to Gradle Wrapper
        run: chmod +x gradlew

      - name: Build Play Store Release APK
        run: ./gradlew assemblePlaystoreRelease

      - name: Rename APK
        run: mv app/build/outputs/apk/playstore/release/app-release.apk Athena-nightly.apk

      - name: Upload APK directory
        uses: actions/upload-artifact@v4
        with:
          name: Athena-APKs
          path: app/build/outputs/apk/


      # - name: Update nightly release
      #   uses: eine/tip@master
      #   with:
      #    tag: Nightly
      #    token: ${{ secrets.TOKEN }}
      #    files: Athena-nightly.apk
